<div class="container-fluid slice">
  <div class="container align-self-center">
    {{#link-to 'admin.article'}}<button class="btn btn-primary">Article</button>{{/link-to}}
    {{#link-to 'admin.listArticle'}}<button class="btn btn-primary">List All Article</button>{{/link-to}}
  </div>
</div>

{{outlet}}